@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

// Color system
$px-theme:						#fe4f6c !default; // Main theme
$px-body-color:					#6F8BA4 !default; // Body text color

$px-black:						#000000 !default; 
$px-white:						#ffffff !default;
$px-dark:						#3a3973 !default;
$px-dark-1:						#07011e !default;
$px-gray:						#ebf4fa !default;


// Font
$px-base-font:					15px !default;

$px-font-family:				'Rubik', sans-serif; // Main Font Family
$px-font-alt:					'Rubik', sans-serif; // Main Font Family

// Custom Bg
$px-yellow:						#f5a416 !default;
$px-green:						#11e279 !default;
$px-blue:						#49bedf !default;
$px-pink:						#f12699 !default;

$box-shadow:					0 5px 14px 0 rgba(0,0,0,0.06);
$box-shadow-lg:					0 0 30px rgba(31, 45, 61, 0.125);

// Breakpoints
$px-media-xsm:					567px !default;
$px-media-sm:					767px !default;
$px-media-md:					991px !default;
$px-media-lg:					1200px !default;