


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="#">
      <img
        src="/assets/images/xconvert.com(3).png"
        height="35"
        alt=""
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <!-- Liked Button: -->
        <div _ngcontent-bed-c2="" class="like-button-container">
          <button _ngcontent-bed-c2="" class="like-button px-3 me-2" (click)="onLike()">
            <i class="fa fa-heart"></i><span _ngcontent-bed-c2="" class="like-count">{{ likeCountDisplay }}</span>
          </button>
        </div>

        <button type="button" class="btn btn-primary me-3" style="margin-left: 12px;">Endorse</button>
        <button type="button" class="btn btn-primary me-3">
          Get in touch
        </button>
        <a
          class="btn btn-dark px-3"
          href="https://github.com/akhil2802"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
        <!-- Dropdown -->
        <ul class="navbar-nav d-flex align-items-center px-2 me-2">
          <!-- Dropdown -->
          <li mdbDropdown class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              mdbDropdownToggle
              aria-expanded="false"
            >
              <!-- Dropdown link -->
              <img
                src="./assets/images/Varahi_MyPhoto.jpg"
                alt=""
                style="width: 40px; height: 40px"
                class="rounded-circle"
              />
            </a>
            <ul
              mdbDropdownMenu
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- End Dropdown -->
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
