@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mdb-logotypes {
  overflow: hidden;
  position: relative;
}

.mdb-logotypes .row {
  white-space: nowrap;
  transition: transform 0.5s ease;
}

.mdb-logotypes .col-lg-1 {
  display: inline-block;
  width: calc(100% / 3);
}

// heading:
.colorful-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 200px;
    height: 3px;
    background: linear-gradient(to left, #3b71ca, #0031d4); /* Blue gradient */
    border-radius: 2px;
}

// infinite carousel scroll:
@-webkit-keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-250px * 25));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-250px * 25));
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 700px;
}

.slider .slide-track {
  -webkit-animation: scroll 60s linear infinite;
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(250px * 50);
  transform: translateX(100%);
}

.slider .slide {
  height: 100px;
  width: 200px;
  margin-right: 10px;
}

.slider .slide:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

// Accordian Expansion Panel:

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}


    // .mat-expansion-panel {
    //   background-color: #f5f5f5;
    //   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    //   margin-bottom: 16px;
    // }

    // .mat-expansion-panel-header {
    //   background-color: #ccc;
    //   padding: 16px;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    // }

    .mat-expansion-panel-header.mat-expanded {
      background-color: #999;
      color: #fff;
    }

    .mat-panel-title {
      font-size: 18px;
      font-weight: 500;
    }

    .mat-panel-description {
      display: flex;
      align-items: center;
      color: rgba(230, 250, 51, 0.54);
    }

    .mat-icon {
      margin-left: 8px;
    }

    .mat-expansion-panel-content {
      padding: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .mat-action-row {
      margin-top: 16px;
      display: flex;
      justify-content: flex-end;
    }

    .mat-action-row button {
      margin-left: 8px;
    }

    // part2 accordion:

    

    // accordion part3:
    .mat-expansion-panel {
      background-color: #f5f5f5;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      margin-bottom: 16px;
    }

    .mat-expansion-panel-header {
      background: linear-gradient(to right, #2980b9, #6dd5fa);
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .mat-expansion-panel-header.mat-expanded {
background: linear-gradient(to right, #3731a2d6, #7984d5);
background: linear-gradient(to left, #FFEB3B, #FFC107);

    }

    .mat-panel-title {
      font-size: 18px;
      font-weight: 500;
    }

    .mat-panel-description {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
    }

    .mat-icon {
      margin-left: 8px;
    }

    .mat-expansion-panel-content {
      padding: 16px;
      font-family: 'Roboto', sans-serif;
    }

    .mat-action-row {
      margin-top: 16px;
      display: flex;
      justify-content: flex-end;
    }

    .mat-action-row button {
      margin-left: 8px;
    }

    @keyframes slideDown {
      0% {
        transform: translateY(-20px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .mat-expansion-panel-content {
      animation: slideDown 0.3s ease-in-out;
    }









