<!-- Main layout-->

<style>
  #mdb-navbar {
    padding-left: 0px;
  }

  #sidenav-toggler {
    display: inline-block;
  }

  .mdb-docs-layout {
    padding-left: 0px;
  }

  #mdb-footer {
    padding-left: 0px;
  }

  #mdb-navbar-brand-logo {
    display: inline;
    padding-top: 1px;
  }

  #svg-about-intro {
    height: 410px;
  }

  @media (min-width: 1200px) {
    #svg-about-intro {
      height: 630px;
    }
  }
</style>

<svg
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1440 320"
  preserveAspectRatio="none"
  class="svg position-absolute d-none d-lg-block"
  id="svg-about-intro"
  style="
    width: 100%;
    z-index: -10;
    overflow: hidden;
    transform: rotateY(180deg);
    width: 100%;
    z-index: -10;
  "
>
  <defs>
    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
      <stop
        stop-color="
                hsl(347, 100%, 96.5%)
              "
        offset="0%"
      ></stop>
      <stop
        stop-color="hsl(347, 0%, 99.1%)
              "
        offset="100%"
      ></stop>
    </linearGradient>
  </defs>
  <path
    fill="url(#sw-gradient-0)"
    d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z"
  ></path>
</svg>

<main class="pt-5 mdb-docs-layout">
  <!-- Main Page: -->
  <div class="container mt-5 mt-5">
    <div class="tab-content">
      <div
        class="tab-pane fade in show active"
        id="docsTabsOverview"
        role="tabpanel"
      >
        <div class="row">
          <div class="col-md-12">
            <section class="mt-md-4">
              <style></style>
              <div class="row">
                <div class="col-md-8 mb-4 mb-md-0 d-flex align-items-center">
                  <div>
                    <h1 class="fw-bold h2">
                      Material Design <br />
                      <small class="text-theme"
                        >for Bootstrap 5 & Angular 15</small
                      >
                    </h1>

                    <style>
                      body {
                        background-color: #fbfbfb;
                      }

                      .bg-theme {
                        background-color: hsl(347, 85.8%, 47.1%) !important;
                      }

                      .text-theme {
                        color: hsl(347, 85.8%, 47.1%) !important;
                      }

                      .btn-secondary-theme {
                        color: hsl(347, 85.8%, 47.1%);
                        box-shadow: none !important;
                        background-color: hsl(344, 48%, 94%);
                      }

                      .btn-secondary-theme:hover,
                      .btn-secondary-theme:focus {
                        background-color: hsl(344, 70%, 95%);
                        color: hsl(347, 85.8%, 47.1%);
                      }

                      blockquote {
                        margin-bottom: 0px !important;
                      }
                    </style>
                    <div class="">
                      <ol class="list-unstyled my-5 text-muted">
                        <li class="mb-3">
                          <a
                            href="https://mdbootstrap.com/docs/standard/"
                            class="text-reset"
                          >
                            <i class="fas fa-check text-theme me-2"></i>700+ UI
                            components &amp; templates
                          </a>
                        </li>
                        <li class="mb-3">
                          <a
                            href="https://mdbootstrap.com/docs/standard/getting-started/installation/"
                            class="text-reset"
                            ><i class="fas fa-check text-theme me-2"></i>Super
                            simple, 1 minute installation</a
                          >
                        </li>
                        <li class="mb-3">
                          <i class="fas fa-check text-theme me-2"></i>Easy
                          theming and customization
                        </li>
                        <li class="">
                          <i class="fas fa-check text-theme me-2"></i>MIT
                          license - free for personal &amp; commercial use
                        </li>
                      </ol>

                      <a
                        class="btn btn-danger btn-lg bg-theme me-3"
                        href="/docs/angular/getting-started/installation/"
                        role="button"
                        >Get started</a
                      >

                      <a
                        class="btn btn-secondary-theme btn-lg me-3"
                        data-mdb-smooth-scroll="smooth-scroll"
                        data-mdb-offset="25"
                        data-mdb-ripple-color="hsl(347, 85.8%, 47.1%)"
                        href="#demo"
                        role="button"
                        >Demo</a
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-4 mb-md-0 d-flex align-items-center">
                  <div
                    class="bg-image hover-overlay ripple shadow-3 rounded-7"
                    data-ripple-color="light"
                  >
                    <picture>
                      <source srcset="" type="image/webp" />
                      <img
                        src="./../../assets/webp/career_snapshot_youtube_img.webp"
                        class="w-100"
                        loading="lazy"
                        alt=""
                      />
                    </picture>
                    <a
                      href="https://www.youtube.com/watch?v=Wjv6qUMUOxw&list=PLl1gkwYU90QnqXfxy1ap7HsLkZW57xavu&ab_channel=Keepcoding"
                      rel="nofollow"
                      target="_blank"
                    >
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2)"
                      ></div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- Section: Intro -->

            <!-- Tech -->

            <section>
              <h2
                class="fw-bold mb-8 text-center pt-5"
                style="position: relative"
              >
                <img
                  src="./../../assets/images/skill.png"
                  alt="skills-logo"
                  style="width: 100px"
                />
                Acquainted Tools and Technologies
                <hr class="colorful-line" />
              </h2>

              <div class="row text-center slider">
                <div class="slide-track">
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/react/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/html-5.webp"
                            alt="html-5 logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/react/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/css.webp"
                            alt="css logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/react/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/typescript.webp"
                            alt="typescript logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/react/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/bootstrap.webp"
                            alt="bootstrap logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/angular/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/content/en/_mdb5/_assets/img/icons/angular.png"
                            alt="angular logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/vue/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/postgresql.webp"
                            alt="postgresql logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/projects/wordpress/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/java.webp"
                            alt="java logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/laravel/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/redis.webp"
                            alt="redis logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/node/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/spring.webp"
                            alt="logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/mongo/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/content/en/_mdb5/_assets/img/icons/mongodb.png"
                            alt="mongodb logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/python/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/content/en/_mdb5/_assets/img/icons/python.png"
                            alt="python logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/mysql/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/content/en/_mdb5/_assets/img/icons/mysql.png"
                            alt="mysql logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/php/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/docker_img.webp"
                            alt="docker logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/kubernetes.webp"
                            alt="kubernetes logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/jenkins.jpg"
                            alt="jenkins logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/tomcat.png"
                            alt="tomcat logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/rxjs.jpg"
                            alt="rxjs logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/spring_cloud.png"
                            alt="spring_cloud logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/ansible.png"
                            alt="ansible logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/git.png"
                            alt="git logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/testng.png"
                            alt="testng logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/Linux-Logo.webp"
                            alt="Linux logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/redhat.webp"
                            alt="redhat logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/tailwind/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/oracle_vm.jpg"
                            alt="oracle_vm logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/aws/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/aws.webp"
                            alt="aws logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/aws/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/Eclipse.png"
                            alt="eclipse logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/aws/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/intellij.png"
                            alt="intellij logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/aws/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/postman.png"
                            alt="postman logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/aws/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/selenium.png"
                            alt="selenium logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/aws/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/webp/github.webp"
                            alt="github logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/aws/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/jira.png"
                            alt="jira logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 mb-4 slide">
                    <div class="card rounded-7 shadow">
                      <a
                        href="/docs/tutorials/aws/"
                        class="ripple"
                        data-ripple-color="primary"
                      >
                        <div class="card-body">
                          <img
                            src="./../../assets/images/swagger.png"
                            alt="swagger logo"
                            height="30px"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Logotypes -->
            <section class="text-center my-4 py-4 my-md-5 py-md-5 mb-lg-8">
              <style>
                .mdb-logotypes img {
                  max-width: 70px;
                }

                @media (max-width: 1400px) {
                  .mdb-logotypes img {
                    max-width: 60px;
                    margin-bottom: 10px;
                  }
                }

                .logo-icon {
                  filter: grayscale(100%);
                }

                .slide-container {
                  overflow: hidden;
                  position: relative;
                }

                .slide-container .row {
                  display: flex;
                  transition: transform 0.5s ease;
                }

                @keyframes slide {
                  0% {
                    transform: translateX(0%);
                  }
                  100% {
                    transform: translateX(-100%);
                  }
                }
              </style>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Logotypes -->

  <!-- Accordian  -->
  <div class="container">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Frontend </mat-panel-title>
          <mat-panel-description>
            Html, CSS, Bootstrap, Typescript, Angular...
            <i class="fa fa-code"></i>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Backend </mat-panel-title>
          <mat-panel-description>
            Java, Python, Spring Boot, Spring Cloud, Spring Security...
            <mat-icon>dns</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Testing </mat-panel-title>
          <mat-panel-description>
            Selenium WebDriver, Selenium Grid, TestNG...
            <mat-icon>bug_report</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 3"
        (opened)="setStep(3)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> DevOps </mat-panel-title>
          <mat-panel-description>
            Git, Jenkins, AWS, Ansible, Docker, Kubernetes, Vagrant...
            <mat-icon>build</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>

      
    </mat-accordion>
  </div>

  <!-- carousel: -->
  <div class="container">
    <!-- Section: Details -->
    <section class="mb-5 mb-lg-10">
      <div class="row gx-xl-5">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <!--  -->
          <mdb-carousel
            [controls]="true"
            [indicators]="true"
            [animation]="'fade'"
          >
            <mdb-carousel-item>
              <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
                class="d-block w-100 rounded-6 shadow-4-strong"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
                class="d-block w-100 rounded-6 shadow-4-strong"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
                class="d-block w-100 rounded-6 shadow-4-strong"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>
                  Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur.
                </p>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>

        <div class="col-lg-5 mb-5 mb-lg-0">
          <h3 class="fw-bold mb-4">Details</h3>

          <p>
            This beginner-friendly, example-based course will guide you through
            the essential knowledge of MDB ecosystem.
          </p>

          <p class="mb-2"><strong>What will you learn:</strong></p>

          <ul class="list-unstyled">
            <li><i class="fas fa-check text-success me-2"></i>Bootstrap</li>
            <li><i class="fas fa-check text-success me-2"></i>MDBootstrap</li>
            <li>
              <i class="fas fa-check text-success me-2"></i>UI & UX design
            </li>
            <li>
              <i class="fas fa-check text-success me-2"></i>Responsive web
              design
            </li>
          </ul>

          <a
            class="btn btn-link btn-rounded"
            href="#"
            role="button"
            data-mdb-ripple-color="primary"
            >Learn more</a
          >
        </div>
      </div>
    </section>
    <!-- Section: Details -->

    <!-- Section: Pricing -->
    <section class="mb-5 mb-lg-10">
      <h3 class="fw-bold text-center mb-5">Pricing</h3>

      <div class="row gx-xl-5">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 order-2 order-lg-1">
          <div class="card h-100">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong>Basic</strong>
              </p>

              <h3 class="mb-4">
                <strong>$ 129</strong>
                <small class="text-muted" style="font-size: 16px">/year</small>
              </h3>

              <button
                type="button"
                class="btn btn-secondary btn-rounded w-100 mb-3"
              >
                Buy
              </button>
            </div>
            <div class="card-body">
              <ol class="list-unstyled mb-0">
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Unlimited
                  updates
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Git repository
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>npm installation
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 order-1 order-lg-2">
          <div class="card h-100">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong>Advanced</strong>
              </p>

              <h3 class="mb-4">
                <strong>$ 299</strong>
                <small class="text-muted" style="font-size: 16px">/year</small>
              </h3>

              <button
                type="button"
                class="btn btn-primary btn-rounded w-100 mb-3"
              >
                Buy
              </button>
            </div>
            <div class="card-body">
              <ol class="list-unstyled mb-0">
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Unlimited
                  updates
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Git repository
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>npm installation
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Code examples
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Premium snippets
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 order-3 order-lg-3">
          <div class="card h-100">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong>Enterprise</strong>
              </p>
              <h3 class="mb-4">
                <strong>$ 499</strong>
                <small class="text-muted" style="font-size: 16px">/year</small>
              </h3>

              <button
                type="button"
                class="btn btn-secondary btn-rounded w-100 mb-3"
              >
                Buy
              </button>
            </div>
            <div class="card-body">
              <ol class="list-unstyled mb-0">
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Unlimited
                  updates
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Git repository
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>npm installation
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Code examples
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Premium snippets
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Premium support
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i>Drag&amp;Drop
                  builder
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Pricing -->

    <!-- Section: Contact -->
    <section class="mb-5 mb-lg-10">
      <h3 class="fw-bold text-center mb-5">Contact us</h3>

      <div class="row gx-xl-5">
        <div class="col-lg-5 mb-4 mb-lg-0">
          <form>
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form4Example1" class="form-control" />
              <label class="form-label" for="form4Example1">Name</label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form4Example2" class="form-control" />
              <label class="form-label" for="form4Example2"
                >Email address</label
              >
            </div>

            <!-- Message input -->
            <div class="form-outline mb-4">
              <textarea
                class="form-control"
                id="form4Example3"
                rows="4"
              ></textarea>
              <label class="form-label" for="form4Example3">Message</label>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form4Example4"
                checked
              />
              <label class="form-check-label" for="form4Example4">
                Send me a copy of this message
              </label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Send
            </button>
          </form>
        </div>

        <div class="col-lg-7 mb-4 mb-lg-0">
          <div class="row gx-lg-5">
            <div class="col-md-6 mb-4 mb-md-5">
              <div class="d-flex align-items-start">
                <div class="p-3 badge-primary rounded-4">
                  <i class="fas fa-headset fa-lg fa-fw"></i>
                </div>
                <div class="ms-4">
                  <p class="fw-bold mb-1">Technical support</p>
                  <p class="text-muted mb-0">support@example.com</p>
                  <p class="text-muted mb-0">+1 234-567-89</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4 mb-md-5">
              <div class="d-flex align-items-start">
                <div class="p-3 badge-primary rounded-4">
                  <i class="fas fa-dollar-sign fa-lg fa-fw"></i>
                </div>
                <div class="ms-4">
                  <p class="fw-bold mb-1">Sales questions</p>
                  <p class="text-muted mb-0">sales@example.com</p>
                  <p class="text-muted mb-0">+1 234-567-88</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4 mb-md-5">
              <div class="d-flex align-items-start">
                <div class="p-3 badge-primary rounded-4">
                  <i class="fas fa-newspaper fa-lg fa-fw"></i>
                </div>
                <div class="ms-4">
                  <p class="fw-bold mb-1">Press</p>
                  <p class="text-muted mb-0">press@example.com</p>
                  <p class="text-muted mb-0">+1 234-567-87</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4 mb-md-5">
              <div class="d-flex align-items-start">
                <div class="p-3 badge-primary rounded-4">
                  <i class="fas fa-bug fa-lg fa-fw"></i>
                </div>
                <div class="ms-4">
                  <p class="fw-bold mb-1">Bug report</p>
                  <p class="text-muted mb-0">bugs@example.com</p>
                  <p class="text-muted mb-0">+1 234-567-86</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Contact -->
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get the carousel instance
      var carousel = document.querySelector("#carouselBasicExample");

      // Get the next and previous buttons
      var prevButton = document.querySelector(".carousel-control-prev");
      var nextButton = document.querySelector(".carousel-control-next");

      // Add event listeners to the buttons
      prevButton.addEventListener("click", function () {
        carousel.carousel("prev");
      });

      nextButton.addEventListener("click", function () {
        carousel.carousel("next");
      });
    });
  </script>
</main>
<!--Main layout -->
