<section class="sub-section-alternative" id="projects">
  <div class="container">
    <h2><i class="fa fa-file-code fa-beat"></i>&nbsp; Featured Projects</h2>
    <span></span>
  </div>
  <div class="project-container">
    <div class="project-card">
      <img
        class="project-image"
        src="src/images/project1.jpg"
        alt="Project One Image"
      />
      <h3>Project One</h3>
      <p class="subtext">
        This is my project and some text about it. I enjoyed making this
        project.
      </p>
      <hr />
      <p class="subtext">
        <a class="project-link" href="https://www.github.com/kubowania"
          >View here</a
        >
      </p>
    </div>
    <div class="project-card">
      <img
        class="project-image"
        src="src/images/project2.jpg"
        alt="Project One Image"
      />
      <h3>Project Two</h3>
      <p class="subtext">
        This is my project and some text about it. I enjoyed making this
        project.
      </p>
      <hr />
      <p class="subtext">
        <a class="project-link" href="https://www.github.com/kubowania"
          >View here</a
        >
      </p>
    </div>
    <div class="project-card">
      <img
        class="project-image"
        src="src/images/project3.png"
        alt="Project One Image"
      />
      <h3>Project Three</h3>
      <p class="subtext">
        This is my project and some text about it. I enjoyed making this
        project.
      </p>
      <hr />
      <p class="subtext">
        <a class="project-link" href="https://www.github.com/kubowania"
          >View here</a
        >
      </p>
    </div>
    <div class="project-card">
      <img
        class="project-image"
        src="./assets/images/Varahi_MyPhoto.jpg"
        alt="Project One Image"
      />
      <h3>Project Four</h3>
      <p class="subtext">
        This is my project and some text about it. I enjoyed making this
        project.
      </p>
      <hr />
      <p class="subtext">
        <a class="project-link" href="https://www.github.com/kubowania"
          >View here</a
        >
      </p>
    </div>
  </div>
</section>
