<div class="section__container">
  <div class="header">
    <p>TESTIMONIALS</p>
    <h1>What our colleagues say about me.</h1>
  </div>
  <div class="testimonials__grid">
    <div class="card">
      <span><i class="fa fa-quote-left" aria-hidden="true"></i>
</span>
      <p>
        I've been working with these guys for a long time and I can say that my
        house is in the perfect hands.
      </p>
      <hr />
      <img src="./../../assets/images/parikshit.png" alt="user" />
      <p class="name">- Parikshit RJ, Software Tester</p>
    </div>
    <div class="card">
      <span><i class="fa fa-quote-left" aria-hidden="true"></i>
</span>
      <p>
        Working with Sentry Oak is just great, every problem in my house is
        solved in a matter of days.
      </p>
      <hr />
      <img src="./../../assets/images/bindya.png" alt="user" />
      <p class="name">- Bindya V, DevOps Engineer</p>
    </div>
    <div class="card">
      <span><i class="fa fa-quote-left" aria-hidden="true"></i>
</span>
      <p>
        Once a pipe burst in my kitchen and an hour later it was already
        repaired, thanks to Sentry Oak.
      </p>
      <hr />
      <img src="./../../assets/images/riju.png" alt="user" />
      <p class="name">- Riju G, Application Developer</p>
    </div>
  </div>
</div>
